@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
  margin:0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  overflow-x: hidden;
}


:root{
  --primary-color:#FFF8EA;
  --secondary-color:#9E7676;
  --tertiarty-color:#815B5B;
  --text-color:#594545;
  background-color: var(--primary-color);
}


a{
  text-decoration: none;
}


a:visited, a:link{
  color: var(--text-color);
}


.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 6rem;
  background-color: var(--tertiarty-color);
  color: var(--primary-color);
  padding:0.2rem;
  border-radius: .2rem;
  cursor: pointer;
  border: 2px solid transparent;
}




.btn:hover{
  background-color: var(--primary-color);
  color:var(--text-color);
  border:2px solid var(--secondary-color);
  transition: 100ms;
}


/* Header */


header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  color:var(--primary-color);
 
  height:8vh;
}


nav{
  width: 30vw;
}


nav a:visited, nav a:link{
  color:var(--primary-color)
}


nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav a{
  width: 6rem;
  height: 2rem;
  overflow-y: hidden;
}
nav li{
  text-align: center;
  font-size: 1.2rem;
  transition: 100ms;
}


nav li:hover{
  transform:
    translateY(0.1rem)
    scale(1.1);
  text-shadow: 0px -0.1rem 4px rgba(149, 149, 149, 0.5);
}


/* Main */


main, section{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}


main > h1, section > h1{
  color: var(--text-color);
  text-shadow: 1px -1px 4px rgba(119, 119, 119, 0.4);
  text-align: center;
  font-size: 2rem;
}

section > h2{
  color: var(--text-color);
  font-size: 1.5rem
}

.book-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap:3rem 8vw;
  padding: 2rem 0
}


.book-card{
  width: 9vw;
  cursor: pointer;
}


.book-card > img{
  width: 100%;
}


.book-text{
  color: var(--text-color);
  text-align: center;
  font-size: .9grem;
  padding-top:.5rem;
}


.book-text > h1{
  font-size: 1.5rem;
  margin-bottom: .1rem;
}


.contact{
  margin-top: 3rem;
}


.contact-container{
  display:flex;
  justify-content: space-evenly;
}


.contact-info{
  width: 30vw;
}


.contact-info td{
  width: 1vw;
  padding: 1rem;
}


.contact-message td{
  padding: .5rem .5rem;
}


.contact-message input[type="text"]{
  width: 11rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--tertiarty-color);
}


.contact-message input::placeholder, .contact-message textarea::placeholder{
  color: #c9adad;
}


.contact-message textarea{
  background-color: transparent;
  border: 2px solid var(--tertiarty-color);
}
@media (max-width:1124px) {
  .book-container{
    grid-template-columns: repeat(4,1fr);
  }
}

