@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
	margin:0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
	overflow-x: hidden;
}

:root{
	--primary-color:#FFF8EA;
	--secondary-color:#9E7676;
	--tertiarty-color:#815B5B;
	--text-color:#594545;
	background-color: var(--primary-color);
}

a{
	text-decoration: none;
}

a:visited{
	color: var(--text-color);
}

.btn{
	color: var(--primary-color);
	background-color: var(--tertiarty-color);
	padding:0.5rem;
	border-radius: .2rem;
	cursor: pointer;
	text-align: center;
}


/* Header */

header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--secondary-color);
	color:var(--primary-color);
	
	height:8vh;
}

nav{
	width: 30vw;
}

nav a:visited, nav a:link{
	color:var(--primary-color) 
}

nav ul{
	display: flex;
	justify-content: space-between;
	list-style: none;
}
nav a{
	width: 6rem;
	height: 2rem;
	overflow-y: hidden;
}
nav li{
	text-align: center;
	font-size: 1.2rem;
	transition: .1s;
}

nav li:hover{
	transform:
		translateY(0.1rem)
		scale(1.1);
	text-shadow: 0px -0.1rem 4px rgba(149, 149, 149, 0.5);
}

/* Main */

main{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 4rem;
}

main > h1{
	margin-bottom: 2rem;
	color: var(--text-color);
	text-shadow: 1px -1px 4px rgba(119, 119, 119, 0.5);
}

.book-container{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap:3rem 8vw;
	margin-bottom: 2rem;
}

.book-card{
	width: 9vw;
	cursor: pointer;
}

.book-card > img{
	width: 100%;
}

.book-text{
	color: var(--text-color);
	text-align: center;
	font-size: .9grem;
	padding-top:.5rem;
}

.book-text > h1{
	font-size: 1.5rem;
	margin-bottom: .1rem;
}


@media (max-width:1124px) {
	.book-container{
		grid-template-columns: repeat(4,1fr);
	}
}