doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Add Book 
	body
		script 
		h1 Add New Book
		form(method="POST")
			table
				tr
					td
						label(for="name") Name
					td
						input(id="name" type="text" name="name")
				tr
					td
						label(for="author") Author
					td
						input(id="author" type="text" name="author")
				tr
					td
						label(for="publisher") Publisher 
					td
						input(id="publisher" type="text" name="publisher")
				tr
					td
						label(for="page") Page
					td
						input(id="page" type="number" name="page" min="1")
				tr
					td
						label(for="img_url") Image URL
					td
						input(id="img_url" type="text" name="img_url")
				tr
					td(colspan="2")
						input(id='btn' type="submit", value="Add")
			if success
				p Book Added