section.contact
	h1 Contact Us
	.contact-container
		.contact-info
			table
				tr
					td Email
					td
						a(href="mailto:harun16ak@gmail.com") harun16aksu@gmail.com 
				tr
					td Phone
					td
						a(href="tel:00901234567890") +90 123 456 7890 
				tr
					td Address 
					td 2101 Waverley Street, Palo Alto, CA 94301, USA
		.contact-message
			form
				table
					tr
						td Full Name
						td
							input(type="text", placeholder="Steve Jobs")
					tr
						td E-mail
						td 
							input(type="text", placeholder="steve@jobs.com")
					tr
						td Message
						td
							textarea(name="", cols="30", rows="10") 
					tr
						td
							input(type="submit").btn