header
	h1 Aksu Library
	nav
		ul
			a(href='book/all')
				li Books
			a(href='#contact')
				li Contact
			if session.visitorId
				a(href='profile')
					li Profile
			else
				a(href='login')
					li Login