doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Login
	body
		h1 Login
		form(action="/check/login" method="POST")
			table
				tr
					td Username:
					td
						input(type="text" name="username")
				tr
					td Password
					td
						input(type="password" name="password")
				tr
					td
						input(type="submit", value="Login")
				tr
					td(colspan="2")
						a(href="/signup") Don't have an account?
				if err
					tr
						td Username or password is wrong