main
	h1 Books of the Month
	.book-container
		- var i = 0
		while i < 5
			a(href="book/" + books[i].id) 
				.book-card
					img(src=books[i].img)
					.book-text
						h1 #{books[i].name}
						p #{books[i++].author}

	a(href="book/all")
		.btn All Books
